@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}
.open-slice {
  background-color: #11151c;
  width: 4rem;
  height: 101vh;
  position: absolute;
  top: -4px;
  right: -2rem;
  transform: rotate(3deg);
}
